/* Importando font Roboto do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Valores iniciais para todos os elementos da página HTML */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Variaveis de cores para acesso rápido */
:root {
    --preto: #212127;
    --cinza: ##EEEFE7;
    --verde: #11c86e;
    --azul: #345ad5;
    --branco: #fff;
    --roxo: #28252a;
    --roxoMenu: #AE3CAE;
}

/* Cor de fundo do corpo da página */
body {
    background: var(--branco);
    transition: ease-in-out 0.5s;
}

body.ativo {
    background-color: var(--roxo);
    color: var(--branco);
    transition: ease-in-out 0.5s;
}

header {
    background: var(--roxoMenu); 
    padding: 12px;
}

header.travaNoTopo {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 12px;
}

a {
    color: var(--preto);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo img {
    width: 100%;
}

main {
    background-color: var(--cinza);
    margin: 8px;
}

.textos {
    width: 80%;
    margin: 5px auto;
    padding: 0 3rem 0 3rem;
    font-size: 3rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
}

footer figure  {
    width: 25rem;
    height: 15rem;
}

footer figure img {
    width: 100%;
    height: 100%;
}