nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--roxoMenu);   
    height: 8vh;
    padding: 0.25rem;
}

nav a {
    color: var(--branco);
}

.navList {
    list-style: none;
    display: flex;
}

.navList li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobileMenu {
    display: none;
    cursor: pointer;
} 

.mobileMenu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}
